<h3><%= @user.first_name %> <%= @user.surname %></h3>
<% if @user.user_image_url %>
<p><%= image_tag @user.user_image_url(:thumb).to_s %></p>
<% else %>
<%= image_tag ("No-picture.jpg") %>
<% end %>
<p>Description: <%= @user.description %>
<p>Email: <%= @user.email %></p>
<p>Birthday: <%= @user.birthday.day %> / <%= @user.birthday.month %> / <%= @user.birthday.year %>
<p>Business Interests: <%= @user.interest_1%> , <%= @user.interest_2%></p>
<p>Personal Interests: <%= @user.hobby_1 %>, <%= @user.hobby_2 %></p>
<%= link_to "Edit profile", edit_user_registration_path%>
