<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">My Roundtable</a>
        <div class="nav-collapse">
          <ul class="nav">
			<% if user_signed_in? %>
			<li><%= current_user.email %></li>
			<li><%= link_to "Account", show_user_path %></li>
			<li><%= link_to "Logout", destroy_user_session_path, :method => :delete %>
			<% else %>	
            <li><%= link_to "Sign up", new_user_registration_path %></li> 
            <li><%= link_to "Sign in", new_user_session_path %></li>
			<% end %>
            <li><%= link_to "Contact Us", root_url %></li>
            <li><%= link_to "About" %></li>
			<% if member_signed_in? %>
				<li><%= current_member.email %>
				<li><%= link_to "Account", root_url %></li>
				<li><%= link_to "Logout", destroy_member_session_path, :method => :delete %>
			<% else %>		
				<li><%= link_to "Venue sign up", new_member_registration_path %></li>
				<li><%= link_to "Venue sign in", new_member_session_path %></li>
			<% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>